language: c

compiler:
  - gcc
  - clang

sudo: false

addons:
  apt:
    packages:
    - libwrap0-dev

script:
  - git clone https://github.com/nginx/nginx nginx
  - cd nginx
  - mkdir ngx_tcpwrappers
  - git clone https://github.com/sjinks/ngx_tcpwrappers ngx_tcpwrappers
  - auto/configure --add-module=./ngx_tcpwrappers --without-http_charset_module --without-http_gzip_module --without-http_ssi_module --without-http_userid_module --without-http_access_module --without-http_auth_basic_module --without-http_autoindex_module --without-http_geo_module --without-http_map_module --without-http_split_clients_module --without-http_referer_module --without-http_rewrite_module --without-http_proxy_module --without-http_fastcgi_module --without-http_uwsgi_module --without-http_scgi_module --without-http_memcached_module --without-http_limit_conn_module --without-http_limit_req_module --without-http_empty_gif_module --without-http_browser_module --without-http_upstream_hash_module --without-http_upstream_ip_hash_module --without-http_upstream_least_conn_module --without-http_upstream_keepalive_module --without-http-cache --without-mail_pop3_module --without-mail_imap_module --without-mail_smtp_module --without-pcre
  - make
